<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33866530069-pmc71fkj9agu87nf35iviqj8d8724941.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33866530069-pmc71fkj9agu87nf35iviqj8d8724941</string>
	<key>API_KEY</key>
	<string>AIzaSyB8HC7VquDCWHw-tSQY8-SzY8N37qSC5ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>33866530069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freebieNotes</string>
	<key>PROJECT_ID</key>
	<string>freebie-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>freebie-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33866530069:ios:4edaef24ed503561cc7d1c</string>
	<key>DATABASE_URL</key>
	<string>https://freebie-notes.firebaseio.com</string>
</dict>
</plist>